<nav style="background-color: #012d71" class="navbar navbar-default">
  <div  class="navbar-header">
    <h2 style="margin-left: 420px; margin-top: 10px; color:white">Welcome to Home of Allomorra!</h2>
  </div>

        <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center py-4 sm:pt-0">
           
               
        </div>
</nav>

<section class="text-center">

  <div  style="
  background-image: url(../assets/images/img1.jpg);
  height: 900px;
  ">
  </div>
<!-- Background image -->

  <div style="
    margin-left: 250px;
    margin-top: -885px;
    width: 65%;
    background: hsla(0, 0%, 100%, 0.6);
    backdrop-filter: blur(20px);
    ">
    <div class="card-body py-5 px-md-5">
      <form style="width:100%;" class="row g-3">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form [formGroup]="signinform">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">First Name</label>
                    <input type="text" id="name" class="form-control" #name (change)="newStudent.name = name.value" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">Last Name</label>
                    <input type="text" id="lastName" class="form-control" #lastName (change)="newStudent.lastName = lastName.value" />
                  </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="email">Email address</label>              
                <input type="email" id="email" class="form-control" #email (change)="newStudent.email = email.value"/>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="Pass">Password</label>
                <input type="password" id="Pass" class="form-control" #Pass (change)="newStudent.Pass = Pass.value"/>
              </div>
  
              <div class="mb-4">
                <label for="inputAddress" class="form-label">Adresse</label>
                <input type="text" class="form-control" id="adresse" placeholder="1234 Main St" #adresse (change)="newStudent.adresse = adresse.value">
              </div>

              <div class="mb-4">
                <label for="inputAddress" class="form-label">Classe</label>
                <input type="text" class="form-control" id="class" placeholder="1234 Main St" #NameClass (change)="newStudent.NameClass = NameClass.value">
              </div>
            <!-- Triage selon le niveau 
            <div class="col-md-6">
              <label for="niveauSelect" class="form-label">Niveau scolaire/NameClass</label>
              <select id="niveauSelect" class="form-select">
                <option selected> grade</option>
                <option *ngFor="let classe of classes" [value]="">{{ classe.NameClass }}</option>
              </select>
            </div>-->

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" (click)="SigninStudent()"> Sign In </button>
              
              <!-- Login -->
              <div class="but" class="col-12">I have an account <a routerLink="/login-student">Log In as a student 🧑‍🎓</a></div>
  
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
