<nav class="navbar navbar-dark bg-dark fixed-top">
  <div *ngIf="student" class="container-fluid"> 
    <img src="assets/images/alomora.png" style="width: 100px; margin-left: 9px;" alt="logo">
    <a class="navbar-brand" routerLink="/profilStu/{{ student.Idstudent }}">Welcome to Home of Allomorra!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">

      <div class="offcanvas-header">
        <!-- Ici on doit mettre le nom de l'eleve qui s'affiche après la connexion avec database-->
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome {{ student.name }}  {{ student.lastName }} !</h5> 
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <!-- page recherche -->
          <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/student-recherche/{{ student.Idstudent }}">Rechercher</a>
            </li>
          <!-- compte student qui va être relier avec chaque student dans notre db -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/student-acount/{{ student.Idstudent }}">Your Acount</a>
          </li>
          <!-- les cours passés -->
          <li class="nav-item">
            <a class="nav-link"routerLink="/student-historic/{{ student.Idstudent }}">Historic of courses</a>
          </li>
          <!-- les cours futur -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/student-futur-courses/{{ student.Idstudent }}">Programmed courses</a>
          </li>
                    <!-- mes professeurs -->
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/my-teachers/{{ student.Idstudent }}">My Teachers</a>
          </li>
                    <!-- aide -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/aide">Help</a>
          </li>
        </ul>

        <form class="d-flex mt-3" role="search">
           <button class="btn btn-success" type="submit"><a routerLink="" routerLinkActive="active" style="margin-right: 20px;  color:white">Sign Out</a></button>
        </form>

      </div>
    </div>
  </div>
</nav>
<div class="body">
  <video id="video-background" autoplay muted loop>
    <source src="assets/images/video2.mp4" type="video/mp4">
  </video>
  </div>

<div *ngIf="student" class="text-center">
  <h2 >
    here, your next lessons {{ student.name }}  {{ student.lastName }}</h2> 
  </div>
  <div class="std">
    <table class="table table-dark table-striped table-hover text-center">
   
      <thead>
        <tr>
          <th scope="col">Id course</th>
          <th scope="col">Domain</th>
          <th scope="col">Subject of course</th>
          <th scope="col">Teacher Name</th>
          <th scope="col">Date start</th>
          <th scope="col">Units</th>
          <th scope="col">Modify</th>
          <th scope="col">do the cours?🧑‍🎓</th>
          <th scope="col">Delete</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses" >
          
          <th scope="row">{{ course.Idcourse }}</th>
          <td>{{ course.Domaine }}</td>
          <td>{{ course.Subject }}</td>
          <td>{{ course.TeacherName }} {{ course.TeacherLastName }}</td>
          <td>{{ course.Date }} à {{ course.classStart }}</td>
          <td>{{ course.units }}</td>
          <td><button><a routerLink="/student-modify-course/{{ course.Idcourse }}">Modify</a></button></td>
          <td><button><a routerLink="/current-course/{{ course.Idcourse }}">Do the lesson </a></button></td> 
          <td><button (click)="DeleteCourse(course.Idcourse)"><a>Delete</a></button></td>
        </tr>
      </tbody>
    </table>
  </div>