<div  style="
margin-top: -150px;
background-image: url(../assets/images/img7.jpg);
background-size: cover; 
background-position: center;
height: 900px;

">
</div>
<!-- Background image -->
<div style="
  margin-left: 350px;
  margin-top: -750px;
  width: 50%;
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(20px);
  ">
</div>

<br><br><br><br><br><br><br><br>
  <div>
    <label for="courseCompletion">Écrivez le lien du ZOOM :</label>
    <input type="text" id="courseCompletion" name="courseCompletion" placeholder="https://meet.google.com/iyw-ovus-pby">
  </div>
<br><br><br>
  <div class="button-container">
    <button type="button" >Envoyer le lien</button>
    <button type="button" (click)="EndCourse()">Fin du cours</button>
  </div>