


.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #100317; /* Couleur bleue pour le texte du label */
 
  }
  
#border {
    border-width: 20%;
    border-color:#cf95ee ;
    border-radius: 10%;
}






