<form [formGroup]="loginform"  *ngIf="signInFlag">
    <section class="h-100 " style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <img src="../assets/images/alomora.png"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Study togheter</h4>
                    </div>
    
                    <form [formGroup]="loginform">
                      <p>Please login to your account</p>
    
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">E-mail Address</label>
                        <input type="email" formControlName="email" placeholder="enter email" #email (change)="newUser.email = email.value"/>
                      </div>





                      <div *ngIf="loginform.get('email')?.hasError('email') && loginform.get('email')?.touched">
                        Please enter a valid email.
                      </div>
    


                      <div
                      *ngIf="loginform.get('email')!=undefined&&loginform.get('email')?.hasError('required') && loginform.get('email')?.touched " class="error-message">
                      Email is required.
                    </div>



                      <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example22">Password</label>
                        <input type="password" placeholder="enter password" formControlName="Pass"  id="Pass" #Pass (change)="newUser.Pass = Pass.value"/>
                      </div>
    
                      <div
                      *ngIf="loginform.get('Pass')!=undefined&&loginform.get('Pass')?.hasError('required') && loginform.get('Pass')?.touched" class="error-message">
                      Password is required.
                    </div>

                      <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="LoginStudent()">Log In</button>
                      </div>
    
                      <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Don't have an account?</p>
                        <a routerLink="/signin" routerLinkActive="active" >Create new</a>
                      </div>
    
                    </form>
    
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">our project aims to improve the integration of young Olim in Israel. By offering a variety of private teachers!!</h4>
                    <p class="small mb-0">
                      if needed:
                      <tr>
                      noémie.ktourza@gmail.com
                      <tr>
                      odaya azoulay@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </form>
    